.workcard {
  transition: transform 0.4s;
}

.workcard img {
  width: 100%;
  height: 100%;
}

.workcard:hover {
  transform: scale(1.03);
}

.workcard a {
  text-decoration: none;
  color: black;
  display: flex;
  flex-direction: column;
}
.workcard a:hover {
  color: #25632e;
}

.workcard__siteLink {
  background-color: rgb(255, 255, 255, 0.2);
  height: 80%;
}

.workcard__repoLink {
  background-color: white;
  height: 20%;
  text-align: center;
  justify-content: center;
}
@media (max-width: 400px) {
  .workcard {
    margin-bottom: 15px;
  }

  .workcard__repoLink {
    font-size: 12px;
  }
}
